.card-footer button {
    width: 80px;
    height: 35px;
    border-radius: 25px;
    border: tomato 1px solid;
    color: tomato;
    background-color: #ffffff;
}

.card-footer button:hover {
    width: 80px;
    height: 35px;
    border-radius: 25px;
    border: tomato 1px solid;
    color: #ffffff;
    background-color: rgba(255, 99, 71, 0.8);
}

.card-footer button:focus {
    outline: none;
}

.card-header-tomato {
    background-color: rgba(255, 99, 71, 0.7);
    color: #ffffff;
    border: rgba(255, 99, 71, 0.7);
}


