/*一些自定义的扩展样式*/

/* Stackoverflow preview fix, please ignore */
.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0;
}

.active {
    font-weight: bold;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FF6347;
    text-decoration: none;
}

    a:active {
    text-decoration: none;
}

/*默认样式，主要是position:fixed实现屏幕绝对定位*/
#gotoTop {
    display: none;
    position: fixed;
    top: 75%;
    left: 50%;
    cursor: pointer;
    margin-top: -50px;
    margin-left: 520px;
    width: 48px;
    height: 48px;
    background: url(../media/image/to_top_1.png) 0 0 no-repeat;
}

/*用CSS表达式(expression)来实现ie6下position:fixed效果*/
#gotoTop {
    _position: absolute;
    _top: expression(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px")
}

/*鼠标进入的反馈效果*/
#gotoTop:hover {
    background: url(../media/image/to_top_2.png) 0 0 no-repeat;
}

/*个人中心自动弹出，及消息图标变换*/
/*取消下拉菜单的三角符号*/
nav .dropdown-toggle::after {
    display: none;
}

/*鼠标悬停自动弹出*/
nav.navbar li.dropdown.hover:hover > div.dropdown-menu {
    display: block;
}

@media (min-width: 979px) {
    nav.navbar li.dropdown.hover:hover > div.dropdown-menu {
        display: block;
    }
}

nav.navbar li.dropdown.hover a.dropdown-toggle > img.hover:hover {
    box-shadow: 0 0 15px tomato;
}

@media (min-width: 979px) {
    nav.navbar li.dropdown.hover a.dropdown-toggle > img.hover:hover {
        box-shadow: 0 0 15px tomato;
    }
}


li.nav-item button {
    width: 120px;
    height: 35px;
    border-radius: 25px;
    border: tomato 1px solid;
    color: tomato;
    background-color: #ffffff;
    margin-top: 7px;
}

li.nav-item button:hover {
    color: #ffffff;
    background-color: rgba(255, 99, 71, 0.8);
}

li.nav-item button:focus {
    outline: none;
}

button:focus {
    outline: none;
}

h3 {
    padding: 3px 0 5px 40px;
    background: url(../media/image/title1.png) 0 0 no-repeat;
}

.like-fav {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.like-fav:hover {
    box-shadow: 0 0 15px tomato;;
}

