<!DOCTYPE html>

{% extends "base_login.html" %}
{% load static %}

<html lang="zh-CN">


{% block html_title %}
    <title>用户注册 fans-food</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/register.css" %}">
    <style>
        .recode-image {
            background: url({{ MEDIA_URL }}{{ recode_image.recode_image_path }}) 23px 9px no-repeat;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="wrap dowebok">
        <div class="logo">
            <a href="{% url "home_page" %}">
                <img class="head-image" src="{% static "media/image/login_default.png" %}" alt="logo">
            </a>
        </div>
        <form id="jsRegisterForm">
            <div><h3>用户注册</h3></div>
            <div class="form-item">
                <input id="jsUsername" class="username" name="username" type="text" autocomplete="off" placeholder="用户名：4-16位数字或字母的组合" required>
            </div>
            <div class="form-item">
                <input id="jsEmail" class="email" name="email" type="email" autocomplete="off" placeholder="注册邮箱" required>
            </div>
            <div class="form-item">
                <input id="jsPassword" class="password" name="password" type="password" autocomplete="off" placeholder="密码：8-16位数字，符号或字母的组合" required>
            </div>
            <div class="form-item">
                <div>
                    <input id="jsRecode" class="recode" name="recode" type="text" autocomplete="off" placeholder="右侧算式的结果" required>
                    <button type="button" id="jsRecodeImage" class="recode-image"></button>
                </div>
            </div>
            <div class="form-item">
                <button id="jsSubmit" type="button">注册</button>
            </div>
        </form>
        <div class="reg-bar">
            <a class="reg" href="{% url "home_page" %}">返回首页</a>
            <a class="forget" href="{% url "user:login" %}">已有帐号？</a>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $(document).ready(function () {
                $('#jsSubmit').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'user:register' %}",
                        data: $('#jsRegisterForm').serialize(),
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            // 还原输入框样式
                            $("#jsRecode").removeClass("error");
                            $("#jsUsername").removeClass("error");
                            $("#jsEmail").removeClass("error");
                            $("#jsRecode").attr({
                                placeholder: "右侧等式的结果"
                            });
                            $("#jsUsername").attr({
                                placeholder: "用户名：4-16位数字或字母的组合"
                            });
                            $("#jsEmail").attr({
                                placeholder: "注册邮箱"
                            });
                            if (data.status === 'success'){
                                alert("注册成功，请前往注册邮箱进行激活");
                            } else if (data.status === 'fail') {
                                if (data.fail_type === "form") {
                                    // 更新验证码
                                    var path_1 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_1 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat"; // 占位符 12345
                                    url = url_1.replace("12345", path_1);                         // 执行替换
                                    $(".recode-image").css("background", url);                // 经过转换后 url
                                    alert("输入的信息不符合要求，请重新输入");
                                } else if (data.fail_type === "recode") {
                                    // 更新验证码
                                    var path_2 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_2 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat"; // 占位符 12345
                                    url = url_2.replace("12345", path_2);                         // 执行替换
                                    $(".recode-image").css("background", url);                // 经过转换后 url
                                    // 给出错误提示
                                    $("#jsRecode").attr({
                                        placeholder: "计算结果错误",
                                        class: "recode error",
                                    });
                                    $("#jsRecode").val("");
                                } else if (data.fail_type === "username") {
                                    // 更新验证码
                                    var path_3 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_3 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat"; // 占位符 12345
                                    url = url_3.replace("12345", path_3);                         // 执行替换
                                    $(".recode-image").css("background", url);                // 经过转换后 url
                                    // 给出错误提示
                                    $("#jsUsername").attr({
                                        placeholder: "用户名已被注册",
                                        class: "recode error",
                                    });
                                    $("#jsUsername").val("");
                                } else if (data.fail_type === "email") {
                                    // 更新验证码
                                    var path_4 = JSON.parse(data.recode_image).recode_image_path;
                                    var url_4 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat"; // 占位符 12345
                                    url = url_4.replace("12345", path_4);                         // 执行替换
                                    $(".recode-image").css("background", url);                // 经过转换后 url
                                    // 给出错误提示
                                    $("#jsEmail").attr({
                                        placeholder: "邮箱已被注册",
                                        class: "recode error",
                                    });
                                    $("#jsEmail").val("");
                                } else if (data.fail_type === "send_email") {
                                    alert("邮件发送失败，请确认你的邮箱是否存在")
                                }
                            }
                        }
                    });
                });
            });
        });
    </script>
    <script>
        $(function () {
            $(document).ready(function () {
                $('#jsRecodeImage').on('click', function () {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'user:flush_recode_image' %}",
                        async: true,
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status === 'success') {
                                var path_1 = JSON.parse(data.recode_image).recode_image_path;
                                var url_1 = "url({{ MEDIA_URL }}12345) 23px 9px no-repeat";   // 占位符 12345
                                url = url_1.replace("12345", path_1);                         // 执行替换
                                $(".recode-image").css("background", url);                    // 经过转换后 url
                            }
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}



</html>