
{% load static %}

<html lang="zh-CN">
<head>
    <link href="{% static 'css/Main.css' %}" rel="stylesheet">
    <title>500 fans-food</title>
    <link rel="shortcut icon" href="{% static 'media/image/favicon.ico' %}">
</head>
<body>
<div id="main">
    <div id="msg">Server Error</div>
    <div id="error">
        <div id="f1">5</div>
        <div id="circle">
            <div id="smalldot"></div>
        </div>
        <div id="f2">0</div>
    </div>

    <div id="info">啊呀，服务器开小差了，请过一段时间在尝试访问...</div>
    <a href="{% url 'home_page' %}">
        <div id="btn">回到首页</div>
    </a>
</div>

<div id="ring"></div>

<div class="dusk" id="d1"></div>
<div class="dusk" id="d2"></div>
<div class="dusk" id="d3"></div>
<div class="dusk" id="d4"></div>
<div class="dusk" id="d5"></div>
<div class="dusk" id="d6"></div>
<div class="dusk" id="d7"></div>
<div class="dusk" id="d8"></div>
<div class="dusk" id="d9"></div>
</body>
</html>