<!DOCTYPE html>

{% load static %}

<html lang="zh-CN">
<head>
    <!-- 基础模板 -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- bootstrap 的响应式声明和 css 文件 -->
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custome.css' %}">
    <link rel="stylesheet" href="{% static 'css/about_style.css' %}">
    <link rel="shortcut icon" href="{% static 'media/image/favicon.ico' %}">

    {% block title %}
        <title>关于 fans-food</title>
    {% endblock %}

</head>
<body class="bg-light">

{# 顶部导航 #}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand ml-4" href="{% url 'home_page' %}">
        <img style="float: left; width: 201px; height: 42px" src="{% static 'media/image/fansfoodlogo.png' %}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if focus == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home_page' %}">首页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">|</a></li>
            <li class="nav-item {% if focus == 'article' %}active{% endif %}">
                <a class="nav-link" href="{% url 'food:food_ranking' %}">美食排行榜</a>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">|</a></li>
            <li class="nav-item {% if focus == 'image' %}active{% endif %}">
                <a class="nav-link" href="{% url 'food:food_image_rank' %}">美食图片</a>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">|</a></li>
            <li class="nav-item {% if focus == 'message' %}active{% endif %}">
                <a class="nav-link" href="{% url 'message' %}">留言</a>
            </li>
            <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">|</a></li>
            <li class="nav-item {% if focus == 'about' %}active{% endif %}">
                <a class="nav-link" href="{% url 'food:food_image_rank' %}">关于</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse mr-4" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {# 判断用户是否登录 #}
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">登录<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item"><a class="nav-link disabled" href="javascript:void(0)">|</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}">注册</a>
                </li>
            {% else %}
                <li class="nav-item dropdown mr-2 hover">
                    <button type="button" class="mr-2" id="jsUploadFoodArticle">
                        上传美食文章
                    </button>
                </li>
                <li class="nav-item dropdown mr-2 hover">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'media/image/message_no_1.png' %}" alt="消息"
                             style="width: 32px; height: 32px; border-radius: 16px" class="hover" id="jsMessageImage">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item disabled" href="#" id="jsMessageTitle">没有新的消息</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'operator:user_message' %}">消息中心</a>
                    </div>
                </li>
                <li class="nav-item dropdown hover">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="{{ MEDIA_URL }}{{ request.user.head_portrait }}" alt="用户头像"
                             style="width: 32px; height: 32px; border-radius: 16px" class="hover">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item disabled" href="#">嗨！{{ request.user.nick_name }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'operator:user_center' %}">个人中心</a>
                        <a class="dropdown-item" href="{% url 'user:logout' %}">安全退出</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{# 页面主体 #}
<div class="container" style="margin-top: 20px">
    <div class="row">
        {# 面包屑导航 #}
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"></li>
                <li class="breadcrumb-item"><a href="{% url 'home_page' %}">首页</a></li>
                <li class="breadcrumb-item active" aria-current="page">关于</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-5 mb-4">
            <div class="card">
                <div class="card-header card-header-tomato lead">
                    关于网站
                </div>
                <div class="card-body">
                    <h6 class="card-title lead">这是一个关于美食制作教程和美食图片的网站</h6>
                    <p class="card-text mt-3 mb-0">网站资源来源：</p>
                    <div class="card-text mt-0 ml-4">
                        <ol class="list-unstyled">
                            <li>
                                美食制作教程：美食天下，如果需要更多的美食制作教程前该网站
                                <small><a href="https://www.meishichina.com/">传送门</a></small>
                            </li>
                            <li>
                                美食图片：pixabay，如果需要更多的图片前往该网站
                                <small><a href="https://pixabay.com/zh/">传送门</a></small>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-5">
            <div class="card">
                <div class="card-header card-header-tomato lead">
                    关于我
                </div>
                <div class="card-body">
                    <h6 class="card-title lead">一个努力的向程序猿进化的人类</h6>
                    <p class="card-text mt-3 mb-0">目前的技能：</p>
                    <div class="card-text mt-0 ml-4">
                        <ol class="list-unstyled">
                            <li>
                                语言：Python
                            </li>
                            <li>
                                前端：HTML + CSS3 + JavaScript，Bootstrap
                            </li>
                            <li>
                                后端：Django
                            </li>
                            <li>
                                爬虫：Requests + BeautifulSoup
                            </li>
                            <li>
                                数据库：MySQL，MongoDB，Redis
                            </li>
                            <li>
                                更多的技能还在努力加载中...
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="page"></div>
{# 页脚 #}
{% block foot %}
    <hr>
    <footer class="footer navbar-fixed-bottom" style="margin-top: 20px">
        <div class="container">
            <div class="row" style="width:100%; margin: 40px auto 40px">
                <div class="col-md-2"></div>
                <div class="col-md-4" style="width: 100%">
                    <p class="text-center">凡肴网 | fans-food</p>
                </div>
                <div class="col-md-4" style="width: 100%">
                    <p class="text-center">Design by 刘小北 | 广ICP备66666666号-6</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </footer>
{% endblock %}

<!-- bootstrap 依赖的 js 文件 -->
<script type="text/javascript" src="{% static 'js/jquery-3.4.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- vue 的 js 文件 -->
<!-- 写明 type 类型文件，一开始的时候没写，后来写错了，都导致了 vue is not defined 的错误 -->
<script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
{% comment %}
「html」页面使用了「ajax」进行异步数据的请求与响应时，会产生「403」错误。经查询，「django」的官方提供以解决方案
将官方给出的代码保存到一个「js文件」中，并在「html」页面中导入
记得一定要在加载完「jQuery」之后加载
{% endcomment %}
<script type="text/javascript" src="{% static 'js/crsf_ajax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custome.js' %}"></script>
<script>
    $(document).ready(function () {
        var logged = '{{ request.user.is_authenticated }}';
        console.log(logged);
        if (logged === "True") {
            $.ajax({
                cache: false,
                type: "GET",
                async: true,
                url: "{% url 'operator:get_user_message' %}",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        if (data.counter > 0) {
                            var image = "{% static 'media/image/message_1.png' %}";
                            var message = '你有' + data.counter + '条未读消息';
                            $('#jsMessageImage').attr('src', image);
                            $('#jsMessageTitle').text(message)
                        } else {
                            return false
                        }
                    }
                }
            })
        } else {
            return false
        }
    })
</script>
<script>
    $(document).ready(function () {
        $('#jsUploadFoodArticle').on('click', function () {
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: "{% url 'operator:upload_food_article' %}",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        location.href = data.url
                    } else {
                        alert('操作失败，请稍后再试')
                    }
                }
            })
        })
    })
</script>

</body>
</html>