{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>美食文章 fans-food</title>
{% endblock %}


{# 面包屑导航 #}
{% block bread_crumb_navigation %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"></li>
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">首页</a></li>
            <li class="breadcrumb-item"><a href="{% url 'food:food_ranking' %}">美食排行榜</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ food.name }}</li>
        </ol>
    </nav>
{% endblock %}
{# 左侧栏 #}
{% block food_acticle %}
    {# 文章标题 #}
    <hr>
    <div>
        <h3 class="lead mt-2 mb-2">{{ food.name }}</h3>
        <hr>
        {# 评分 #}
        <div class="row">
            <div class="col-6">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        收藏与分享：
                    </li>
                    <li class="list-inline-item" id="addLike">
                        <img {% if like_status == 'yes' %}
                            src="{% static 'media/image/like_1.png' %}" title="已喜欢"
                        {% else %}
                            src="{% static 'media/image/unlike_1.png' %}" title="点击喜欢"
                        {% endif %}
                            alt="喜欢" class="like-fav" id="likeArticle">
                        <input type="hidden" id="status-of-like" value="{{ like_status }}" class="hide">
                    </li>
                    <li class="list-inline-item" id="addFav" title="收藏">
                        <img {% if fav_status == 'yes' %}
                            src="{% static 'media/image/fav_1.png' %}" title="已收藏"
                        {% else %}
                            src="{% static 'media/image/unfav_1.png' %}" title="点击收藏"
                        {% endif %}
                            alt="收藏" class="like-fav" id="favArticle">
                        <input type="hidden" id="status-of-fav"
                               value="{{ fav_status }}">
                    </li>
                </ul>
            </div>
            <p class="col-6 text-right" style="color: gray; font-size: 14px">
                <span style="color: tomato; font-size: 22px">{{ food.like }}&nbsp;</span>人喜欢
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color: tomato; font-size: 22px">{{ food.fav }}&nbsp;</span>人收藏
            </p>
        </div>
        <div class="row ml-1">
            <p style="color: gray; font-size: 14px">
                标签：
                {% for tag in food.tags.all %}
                    <a class="mr-1" href="{% url 'food:tag_food' tag %}">{{ tag }}</a>
                {% endfor %}
            </p>
        </div>

        {# 食物图片 #}
        <img class="img-fluid" src="{{ MEDIA_URL }}{{ food_image }}" alt="{{ food.name }}">
        <p style="margin: 10px 5px">
            {# 使用过滤器来实现换行 #}
            {{ food.description|linebreaksbr }}
        </p>
    </div>
    {# 配量表 #}
    <hr>
    <div>
        <h3 class="lead mt-2 mb-2">食材</h3>
        <hr>
        <table class="table table-sm" style="color: gray">
            {% if food_info_1 %}
                <thead style="background-color: rgba(255, 99, 71, 0.5); color: white;">
                <tr>
                    <th scope="col" colspan="2" class="text-center">主料</th>
                </tr>
                </thead>
                {% for info in food_info_1 %}
                    <tbody>
                    <tr>
                        <th scope="row">&nbsp;&nbsp;&nbsp;{{ info.name }}</th>
                        <td>
                            {{ info.dosage }}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
            {% if food_info_2 %}
                <thead style="background-color: rgba(255, 99, 71, 0.5); color: white;">
                <tr>
                    <th scope="col" colspan="2" class="text-center">辅料</th>
                </tr>
                </thead>
                {% for info in food_info_2 %}
                    <tbody>
                    <tr>
                        <th scope="row">&nbsp;&nbsp;&nbsp;{{ info.name }}</th>
                        <td>
                            {{ info.dosage }}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
            {% if food_info_3 %}
                <thead style="background-color: rgba(255, 99, 71, 0.5); color: white;">
                <tr>
                    <th scope="col" colspan="2" class="text-center">配料</th>
                </tr>
                </thead>
                {% for info in food_info_3 %}
                    <tbody>
                    <tr>
                        <th scope="row">&nbsp;&nbsp;&nbsp;{{ info.name }}</th>
                        <td>
                            {{ info.dosage }}
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    {# 步骤 #}
    <hr>
    <div>
        <h3 class="lead mt-2 mb-2">制作步骤</h3>
        <hr>
        <ul class="list-unstyled">
            {% for step in food_steps %}
                <li class="media my-4">
                    <img class="mr-3 w-50" src="{{ MEDIA_URL }}{{ step.image }}" alt="{{ step.step_number }}">
                    <div class="media-body">
                        步骤{{ step.step_number }}：{{ step.description }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {# 小贴士 #}
    <hr>
    <div>
        {% if food.tips %}
            <h3 class="lead mt-1 mb-1">小贴士</h3>
            <hr>
            {# 使用过滤器来实现换行 #}
            <p>{{ food.tips |linebreaksbr }}</p>
        {% endif %}
    </div>

{% endblock %}

{% block customerjs %}
    <script>
        $(document).ready(function () {
            $('#addLike').on('click', function () {
                if ($('#status-of-like').val() === 'unsigned') {
                    alert('用户未登录，无法操作，请前往登录页面登录后再操作');
                    return false
                } else {
                    console.log(1);
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: {
                            "status": $('#status-of-like').val(),
                            "id": '{{food.article_id}}',
                            "type": "food_article"
                        },
                        url: "{% url 'operator:add_like' %}",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status === 'success') {
                                if (data.like_status === 'yes') {
                                    var likeImage = '{% static 'media/image/like_1.png' %}';
                                    $('#likeArticle').attr('src', likeImage);
                                    $('#likeArticle').attr('title', '已喜欢');
                                    $('#status-of-like').val(data.like_status);
                                } else if (data.like_status === 'no') {
                                    var unlikeImage = '{% static 'media/image/unlike_1.png' %}';
                                    $('#likeArticle').attr('src', unlikeImage);
                                    $('#likeArticle').attr('title', '点击喜欢');
                                    $('#status-of-like').val(data.like_status);
                                }
                            } else {
                                alert("操作失败，请稍后进行尝试");
                            }
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#addFav').on('click', function () {
                if ($('#status-of-fav').val() === 'unsigned') {
                    alert('用户未登录，无法操作，请前往登录页面登录后再操作');
                    return false
                } else {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        data: {
                            "status": $('#status-of-fav').val(),
                            "id": '{{food.article_id}}',
                            "type": "food_article"
                        },
                        url: "{% url 'operator:add_fav' %}",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status === 'success') {
                                if (data.fav_status === 'yes') {
                                    var favImage = '{% static 'media/image/fav_1.png' %}';
                                    $('#favArticle').attr('src', favImage);
                                    $('#favArticle').attr('title', '已收藏');
                                    $('#status-of-fav').val(data.fav_status);
                                } else if (data.fav_status === 'no') {
                                    var unfavImage = '{% static 'media/image/unfav_1.png' %}';
                                    $('#favArticle').attr('src', unfavImage);
                                    $('#favArticle').attr('title', '点击收藏');
                                    $('#status-of-fav').val(data.fav_status);
                                }
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}