{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>美食图片排行榜 fans-food</title>
{% endblock %}


{# 面包屑导航 #}
{% block bread_crumb_navigation %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"></li>
            <li class="breadcrumb-item"><a href="{% url 'home_page' %}">首页</a></li>
            <li class="breadcrumb-item active" aria-current="page">美食图片</li>
        </ol>
    </nav>
{% endblock %}
{# 左侧栏 #}
{% block food_graph %}
    {% if message %}
    <div class="card-columns">
        {% for image in image_list.object_list %}
            <div class="card">
                <a href="{% url 'food:food_image' image.name %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ image.image }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <p class="card-text text-right font-weight-normal" style="font-size: 12px">
                        <small class="mr-1" style="color: tomato; font-size: 16px">{{ image.like }}</small>
                        人喜欢
                        <small class="mr-2"></small>
                        <samll class="mr-1" style="color: tomato; font-size: 16px">{{ image.fav }}</samll>
                        人收藏
                    </p>
                    <p class="card-text">
                        Tags:
                        <small class="text-muted">
                            {% for tag in image.tags.all %}
                                {% if forloop.counter < 4 %}
                                   <span class="mr-1">{{ tag }}</span>
                                {% endif %}
                            {% endfor %}
                            ...
                        </small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {# 分页 #}
    <nav aria-label="Page navigation example" style="margin-top: 30px">
        <ul class="pagination justify-content-center">
            {% if image_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{{ image_list.previous_page_number.querystring }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
            {% endif %}
            {% for page in image_list.pages %}
                {% if page %}
                    {% ifequal page image_list.number %}
                        <li class="page-item disabled">
                            <a class="page-link">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?{{ page.querystring }}">{{ page }}</a>
                        </li>
                    {% endifequal %}
                {% else %}
                    {# 如果页面没有分页，则不显示任何内容#}
                    <li class="none"><a class="page">...</a></li>
                {% endif %}
            {% endfor %}
            {% if image_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{{ image_list.next_page_number.querystring }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
        <h4 class="h4 text-center">没有搜索结果，请更换搜索关键词</h4>
    {% endif %}
{% endblock %}

{% block foot %}
    <hr>
    <footer class="footer navbar-fixed-bottom" style="margin-top: 20px">
        <div class="container">
            <div class="row" style="width:100%; margin: 40px auto 40px">
                <div class="col-md-2"></div>
                <div class="col-md-4" style="width: 100%">
                    <p class="text-center">凡肴网 | fans-food</p>
                </div>
                <div class="col-md-4" style="width: 100%">
                    <p class="text-center">Design by 刘小北 | 广ICP备66666666号-6</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </footer>
{% endblock %}